<!DOCTYPE html>
<html>

<head>
  <title>Stacked PRs Extension Options</title>

  <style>
    .status {
      display: none;

      &.success {
        font-weight: bold;
        color: darkgreen;
        display: block;
      }
    }

    label {
      font-weight: bold;
    }

    input {
      display: block;
      width: 100%;
    }
  </style>
</head>

<body>
  <form id="options-form">
    <label for="pat">GitHub PAT</label>
    <input id="pat" name="pat" placeholder="github_pat_*** or ghp_***" disabled pattern="(github_pat|ghp)_.*" />

    <p id="pat-description">
      For this extension to work in private repositories, a personal access token with access to all repositories must
      be provided.</a>
    </p>

    <button type="submit">Save</button>

    <p id="form-status" aria-live="polite" class="status"></p>
  </form>

  <script src="./options.js"></script>
</body>

</html>